.navbar-margin {
  margin-top: 80px;
}

.catalogs-list {
  margin: 5px 0 5px 0;
}

.left-space {
  margin-left: 10px;
}

.list-group-item {
  border: none;
  color: cadetblue;
}

.color {
  background-color: #17a2b8 !important;
}

.footer-fix {
  position: fixed;
  width: 100%;
  bottom: 0;
}

#result {
  margin: auto;
  width: 50%;
}