{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row navbar-margin"></div>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Info!</strong> {{message}}.
</div>
{% endfor %} {% endif %} {% endwith %}

<!--Panel-->
<div class="row justify-content-around">
  <div class="card card-body col-10">
    <h4 class="card-title">{{item.title}}</h4>
    <p class="card-text">{{item.description}}</p>
    <div class="flex-row">
      <a href="{{url_for('editItem', catalog_id = catalog.id, item_id=item.id)}}" class="card-link">edit</a>
      <a href="#" class="card-link" data-toggle="modal" data-target="#deleteModal">delete</a>
      <a href="{{url_for('showItems', catalog_id = catalog.id)}}" class="card-link">back</a>
    </div>
  </div>
</div>
<!--/.Panel-->
<!-- Modals -->
<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Do you really want to delete <strong>{{item.title}}</strong> item?</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <a href="{{url_for('deleteItem', catalog_id = catalog.id, item_id=item.id)}}">
            <button type="button" class="btn btn-light-blue">Yes</button>
          </a>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}